<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Finance Tool</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/services.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>

<body>
  <nav class="navbar">
    <div id="menu">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#1b1dc7" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <line x1="4" y1="6" x2="20" y2="6" />
            <line x1="4" y1="12" x2="20" y2="12" />
            <line x1="4" y1="18" x2="20" y2="18" />
        </svg>
    </div>
    <a href="/" class="logo"><img src="images/XpertRupees_Logo.svg" alt=""></a>
    <ul class="links">
        <li class="link"><a href="/">Home</a></li>
        <li class="link active"><a href="/services">Services</a></li>
        <li class="link"><a href="/career">Career</a></li>
        <li class="link"><a href="/blog">Blog</a></li>
        <li class="link"><a href="/contact">Contact</a></li>
    </ul>
    <div class="cta-container">
        <% if (loggedin) { %>
            <button class="cta" onClick='location.href="/dashboard"'>Dashboard</button>
            <button class="cta logout" onClick='location.href="/auth/logout"'>Logout</button>
        <% } else { %>
            <button class="cta" onClick='location.href="/auth/login"'>Login</button>
            <button class="cta join" onClick='location.href="/auth/signup"'>Sign Up</button>
        <% } %>
    </div>
</nav>
  <div class="services">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-3">
          <div class="box p-5">
            <i class="fas fa-credit-card fa-3x mb-4"></i>
            <h4>Credit Card</h4>
            <p>
              A credit card offers convenience, rewards, and flexibility. We partner with major Indian banks to provide options that fit your lifestyle perfectly.</p>
            <a class="readmore" href="/services/creditcard"><span>Read More</span></a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-3">
          <div class="box p-5">
            <i class="fas fa-user fa-3x mb-4"></i>
            <h4>Personal Loan</h4>
            <p>A personal loan offers lump-sum funds with fixed repayments, ideal for various needs. We partner with top banks for competitive rates and terms.
            </p>
            <a class="readmore" href="/services/personal"><span>Read More</span></a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-3">
          <div class="box p-5">
            <i class="fa fa-building  fa-3x mb-4"></i>
            <h4>Business Loan</h4>
            <p>A business loan is vital for expansion or managing expenses. We partner with top Indian banks, offering tailored financing, competitive rates, and flexible terms.
            </p>
            <a class="readmore" href="/services/business"><span>Read More</span></a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-3">
          <div class="box p-5">
            <i class="fas fa fa-compress fa-3x mb-4"></i>
            <h4>Micro Loan</h4>
            <p>Micro loans are small, short-term loans under ₹50,000, ideal for urgent needs. We partner with Indian banks to offer fast, hassle-free approval.</p>
            <a class="readmore" href="/services/micro"><span>Read More</span></a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-3">
          <div class="box p-5">
            <i class="fas fa fa-home fa-3x mb-4"></i>
            <h4>New Home Loan</h4>
            <p>
              A new home loan offers long-term financing for your dream home. We provide competitive rates, flexible terms, and expert mortgage guidance.</p>
            <a class="readmore" href="/services/home"><span>Read More</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
 <style>
    .footer2 {
      display: flex;
      height: auto;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: #000000;
      color: #fff;
      padding: 10px;
    }

    .footer2 a {
      color: #fff;
      text-decoration: none;
    }
  </style>
  <div class="footer">
    <div class="footer-content">
      <img src="../images/XpertRupees_Logo_White.svg" alt="">
      <ul>
        <li class=" footer-link"><a href="/">Home</a></li>
        <li class=" footer-link"><a href="/services">Services</a></li>
        <li class=" footer-link"><a href="/career">Career</a></li>
        <li class=" footer-link"><a href="/blog">Blog</a></li>
        <li class=" footer-link"><a href="/contact">Contact</a></li>
      </ul>
      <div class="icons">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-github"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
      </div>
      <div class="icons">
        <a href="#"><i class="fa-brands fa-instagram"></i></a> <!-- Instagram -->
        <a href="#"><i class="fa-brands fa-pinterest"></i></a> <!-- Pinterest -->
        <a href="#"><i class="fa-brands fa-whatsapp"></i></a> <!-- WhatsApp -->
        <a href="#"><i class="fa-brands fa-tumblr"></i></a> <!-- Tumblr -->
        <a href="#"><i class="fa-brands fa-telegram"></i></a> <!-- Telegram -->
      </div>
    </div>
    <div class="footer-map">
      <div class="mapouter">
        <div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no"
            marginheight="0" marginwidth="0"
            src="https://maps.google.com/maps?width=700&amp;height=400&amp;hl=en&amp;q=Sohrab Hall&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
        </div>
        <style>
          .mapouter {
            position: relative;
            text-align: right;
            width: 100%;
            height: 400px;
          }

          .gmap_canvas {
            overflow: hidden;
            background: none !important;
            width: 100%;
            height: 400px;
          }

          .gmap_iframe {
            height: 400px !important;
          }
        </style>
      </div>
    </div>
  </div>
  <style>
    .footer2 {
      display: flex;
      height: auto;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: #000000;
      color: #fff;
      padding: 10px;
    }

    .footer2 a {
      color: #fff;
      text-decoration: none;
    }
  </style>
  <div class="footer2">
    <small>&copy; Copyright 2024, Ocean One Pvt. Ltd</small>
    <small> Developed By <a href="https://www.techtasa.com/">Techtasa</a></small>
  </div>
 
</body>
<script src="../js/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>